html{
    font-size: 16px;
    background-color: #fff;
}

.side-padding{
    padding-left:1rem;
    padding-right:1rem;
}
.inner{
    @extend .side-padding;
    width: 100%;
    max-width: 480px;
    min-width: 220px;
    margin: 0 auto;
    box-sizing: border-box;
    &.none{
        padding: 0;
    }
}